.chess-board td.square {
    border: 1px solid #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.chess-board td.square:hover {
    /*background-color: #EC6767 !important;*/
}
.chess-board td.square.highlight {
    background-color: #ffd110 !important;
}
.main-board .chess-board span {
    color:#000;
    display:block;
    font-size:40px;
    position:relative;
    text-decoration:none;
}
.main-board .chess-board td, .chess-board tr {
    background:#fff;
    height: 60px;
    width: 60px;
    text-align:center;
    vertical-align:middle;
}
.chess-board tr:nth-child(odd) td.square:nth-child(even), .chess-board tr:nth-child(even) td.square:nth-child(odd) {
    background:#ccc;
}

.small-board {
    position: absolute;
    margin-left: 71px;
    margin-top: -190px;
    border: 2px solid grey;
    z-index: 100;
}

.small-board .chess-board span {
    color:#000;
    display:block;
    font-size:15px;
    position:relative;
    text-decoration:none;
}
.small-board .chess-board td, .chess-board tr {
    background:#fff;
    height:20px;
    width:20px;
    text-align:center;
    vertical-align:middle;
}

ul {
    list-style: none;
    padding-left: 50px;
}

li {
    white-space: nowrap;
}

.score-label {
    background-color: orange;
    border-radius: 5PX;
    font-weight: bold;
    width: 27px;
    display: inline-block;
    text-align: right;
    display: inline-block;
    height: 18px;
    width: 23px;
}
.colour-label {
    height: 14px;
    width: 15px;
    display: inline-block;
    font-weight: bold;
    border: 1px solid grey;
    background-color: black;

}
.colour-label.white {
    background-color: white;
}

#main-fen-input {
   margin-bottom: 10px;
   margin-top: 20px;
   width:500px;
}

.show-small-board {
    cursor: pointer;
}